.btn {
	font-weight: 500;
}

.btn svg.icon-right{
	margin-left: 5px;
}

.btn svg.icon-left{
	margin-right: 5px;
}

.btn-primary{
	background: linear-gradient(#a32d5d, #d24e37);
	border: none;
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	color: rgba(0,0,0,.8);
}

.map-style-light .btn-primary {
	color: rgba(255,255,255,.9);
}

.map-style-light .btn-primary:hover {
	color: rgba(255,255,255,1);
	box-shadow: 0 1px 5px rgba(210, 78, 55, 0.5);
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active{
	color: rgba(0,0,0,.96);
	box-shadow: 0 1px 5px rgba(121, 18, 0, 0.8);
	background: linear-gradient(#a32d5d, #d24e37);
	border: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
}

.btn-link{
	color: rgba(255,255,255,.7);
}

.btn-link:hover{
	color: rgba(255,255,255,.85);
	text-decoration: none;
}

.leaflet-container .leaflet-control-attribution a {
    color: rgb(100,100,100);
}

.map-style-light .btn-link{
	color: rgba(0,0,0,.7);
}

.map-style-light .btn-link:hover{
	color: rgba(0,0,0,.85);
}

#mapid {
  height: calc(100vh - 56px);
  width: 100vw;
  background-color: rgb(52,51,50);
}

.leaflet-container{
	font: inherit!important;
	font-size: 13px!important;
}

nav.bg-dark {
    background-color: #212529!important;
}

#cy {
	background-color: #333538;
}

.navbar-nav {
	margin: 0 auto;
}

nav a {
	color: rgba(255,255,255,.5);
}

nav a[type=button]{
	-webkit-appearance: none;
}

nav a:hover {
	color: rgba(255,255,255,.75);
	cursor:pointer;
	text-decoration: none;
}

.navbar a {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: 600;
}

.sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 999;
    background: #393e42;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: scroll;
}

.leaflet-control-container .leaflet-left{
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.map-style-dark .leaflet-control-container .leaflet-control-zoom.leaflet-bar{
	border: 2px solid rgba(255,255,255,0.2);
}

.map-style-dark .leaflet-control-container .leaflet-control-zoom a{
	background-color: #212529;
    border-bottom: 1px solid #000;
    color: hsl(0, 0%, 50%);
}
.map-style-dark .leaflet-control-container .leaflet-control-zoom a:hover {
	background-color: #151719;
	border-bottom: 1px solid #000;
	color: hsl(0, 0%, 50%);
}

.map-style-dark .leaflet-control-container .leaflet-control-zoom a.leaflet-disabled {
    background-color: #212529;
    color: #5d5c5b;
}

.sidebar.active {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.sidebar-right {
    right: -300px;
}

.sidebar-right.active {
    right: 0;
}

.sidebar-left {
    left: -300px;
}

.sidebar-left.active {
    left: 0;
}

.dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.dismiss:hover {
    background: rgba(0,0,0,.1);
}

.sidebar .sidebar-header {
    padding: 14px 20px 10px 55px;
    height: 56px;
    background: rgba(0,0,0,.1);
}

#options-card {
	position: absolute;
    right: 10px;
    top: 66px;
    width: 260px;
    z-index: 999;
}

.map-panel {
    border: none;
    color: rgba(255,255,255,.6)!important;
    background-color: #212529!important;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-radius: 4px;
}

.map-style-light .map-panel {
    border: none;
    color: rgba(0,0,0,.6)!important;
    background-color: #fff!important;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

#options-card .card-header{
	padding: 0;
	background-color: rgba(0,0,0,0);
    border-bottom: none;
}

#options-card .card-header a {
	display: block;
	width: 100%;
	padding: .75rem 1.25rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#options-card .card-header a{
	color: rgba(255,255,255,.7);
}

.map-style-light #options-card .card-header a{
	color: rgba(0,0,0,.7);
}

#options-card .card-header a:hover{
	text-decoration: none;
	color: rgba(255,255,255,.85);
}

.map-style-light #options-card .card-header a:hover{
	color: rgba(0,0,0,.85);
}

#options-card .card-header a .title{
	position: absolute;
    left: 40px;
}

#options-card .card-header .icon-action{
	font-size: 16px;
	position: relative;
    top: -2px;
    margin-right: 5px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

#options-card .card-header a:not(.collapsed) .icon-action{
	-o-transform:      scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform:         scaleY(-1);
	top: 5px;
}

#options-card .card-body {
	border-top: 1px solid #000;
	font-size: 14px;
}

.map-style-light #options-card .card-body {
	border-top: 1px solid #ccc;
}

#options-card .card-body > div:not(:last-child) {
    margin-bottom: 10px;
}

#options-card #map-style-toggle{
	margin-left: 10px;
}

#options-card .btn-toggle-label{
	position: relative;
	top: 2px;
}

#map-style-toggle .btn {
    padding: 5px 12px;
}

.collapsing {
    -webkit-transition: height 0.1s;
    -o-transition: height 0.1s;
    transition: height 0.1s;
}

/****ABOUT MODAL****/

.modal-content {
	color: rgba(255,255,255,.7);
    background-color: #212529;
    border: none;
    border-radius: .2rem;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.map-style-light .modal-content {
	color: rgba(0,0,0,.7);
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.modal-title {
	margin: 0 auto;
	color: rgba(255,255,255,.8);
	font-weight: 400;
}

.map-style-light .modal-title {
	color: rgba(0,0,0,.8);
}

.modal-header {
	border-bottom: 1px solid #000;
}

.map-style-light .modal-header {
	border-bottom: 1px solid #ccc;
}

.modal-header .close{
	position: absolute;
    right: 15px;
    top: 13px;
    font-size: 15px;
    display: none;
}

.modal-body {
    padding: 3rem;
}

.modal-backdrop.show {
    opacity: .5;
}

.map-style-light .modal-backdrop.show {
    opacity: .3;
}

/****POP-UP****/

.custom-popup .leaflet-popup-content {
	margin: 14px 16px;
}

.custom-popup .leaflet-popup-content-wrapper, .custom-popup .leaflet-popup-tip {
	color: rgba(255,255,255,.7);
    background-color: #212529;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.map-style-light .custom-popup .leaflet-popup-content-wrapper, .map-style-light .custom-popup .leaflet-popup-tip {
	color: rgba(0,0,0,.7);
    background-color: #fff;
}

.custom-popup a:hover {
	color: rgba(255,255,255,.85)!important;
}

.custom-popup h6{
	display: inline-block;
	margin-top: 5px;
}

.custom-popup .btn {
	float: right;
	font-size: 13px;
	border: none;
}

.custom-popup span.story-state{
	margin-top: 5px;
	margin-left: 3px;
	color: rgba(255,255,255,.5);
}

/****TOP MESSAGE****/
#top-message-container{
	position: absolute;
	top: 66px;
	z-index: 990;
	width: 100%;
	height: 48px;
	pointer-events: none;
}

.top-message {
	margin: 8px auto;
    left: 100px;
    padding: 4px 16px;
    width: fit-content;
    min-height: 32px;
    border-radius: 30px;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: all;
}

.top-message svg{
	font-size: 10px;
	position: relative;
	color: #a32d5d;
	margin-right: 8px;
}

#start-tutorial:hover {
	background-color: #1c1f21!important;
	color: rgba(255,255,255,.85)!important;
	cursor: pointer;
}

.map-style-light #start-tutorial:hover {
	background-color: #fff!important;
	color: rgba(0,0,0,.85)!important;
}



