<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon-action fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>
        This visualization is based on data aquired from Smood, a food delivery company based in Switzerland. Its aim is is to gain insights into the deliveries made in the Lausanne area. For this purpose, the number of deliveries passing through each road is represented by a color map. To gain more specific insights, one can select deliveries by time, restaurant or by road. For more detail, <a class='start-tutorial' href='#'>follow the tutorial</a>.
        </p>
        <p>
        This project was made by Davide Di Dio, Tanguy Albrici and Fatine Benhsain as part of the <i>Data Visualization</i> course at <a href='https://www.epfl.ch/'>EPFL</a>, Fall 2018.
        </p>
      </div>
    </div>
  </div>
</div>