<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon-action fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
       This visualization is based on data aquired from Smood, a food delivery company based in Switzerland.
      </div>
    </div>
  </div>
</div>