<!DOCTYPE html>
	<html lang="en">
	<meta charset="utf-8"/>

		<script type="text/javascript" src="lib/leaflet/leaflet.js"></script>
		<script type="text/javascript" src="js/heatmap.js"></script>

		{% include common_import.html %}

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			{% include common_css.html %}
			<link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css"/>
		</head>
		<body class='map'>
			{% include nav.html %}
			{{ content }}
			<canvas id="myCanvas"></canvas>
		</body>
	</html>
