<!DOCTYPE html>
	<html lang="en">
	<meta charset="utf-8"/>

		{% include common_import.html %}
		<script type="text/javascript" src="lib/leaflet/leaflet.js"></script>
		<script type="text/javascript" src="lib/leaflet/leaflet.edgebuffer.js"></script>
		<script type="text/javascript" src="js/story.js"></script>
		<script type="text/javascript" src="js/clock.js"></script>
		<script type="text/javascript" src="js/heatmap.js"></script>
		<script type="text/javascript" src="js/insights.js"></script>

		<script type="text/javascript" src="https://www.cssscript.com/demo/animated-customizable-range-slider-pure-javascript-rslider-js/js/rSlider.min.js"></script>


		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			{% include common_css.html %}
			<link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css"/>
			<link rel="stylesheet" type="text/css" href="css/clock.css"/>

		</head>
		<body class='map'>
			{% include nav.html %}
			{% include about.html %}
			{{ content }}
		</body>
	</html>
